  <header>
  	<!--<div class="mdl-layout__header-row">
  		<span class="mdl-layout__title">{{ site.title }}</span>
  	</div>
    <div class="mdl-layout__header-row mdl-layout--large-screen-only theme-navigation-row">
      <nav class="mdl-navigation theme-nav">
      	{% for item in site.data.navigation %}
        <a class="mdl-navigation__link {% if page.title==item.name %} is-active {% endif %}" href="{{item.link}}">{{item.name}}</a>
        {% endfor %}
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only theme-drawer">
    <nav class="mdl-navigation theme-drawer-aux">
		{% for item in site.data.navigation %}
        <a class="mdl-navigation__link {% if page.title==item.name %} is-active {% endif %}" href="{{item.link}}" style = "color:black;">{{item.name}}</a>
        {% endfor %}
    </nav> -->

    <ul class="sidenav sidenav-fixed" id="slide-out" >
      <li class="profile">
          <img id="avatar" src="/assets/others/photos/ME2.jpg"/>
          <br/>
          <div>
            <h4 class="profile-text-high" style="display: inline-block">Pablo</h4> <h4 class="profile-text-higher" style="display: inline-block"><b>Sánchez Pérez</b></h4>
          </div>
          <span class="profile-text">
              PhD in Computer Science and Telecommunication Engineering <br/>
              Universidad Pontificia de Comillas
          </span>
       </li>
      {% for item in site.data.navigation %}
      <li>

        <a href="{{item.link}}" class="menu-text-aux">
          <div class="material-icons">{{item.icon}}</div>
          <div class="menu-text"><b>{{item.name}}</b></div>
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="sidenav-trigger" data-target="slide-out" style="width:100%">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons" style="line-height:40px">menu</i></a>
  </div>
</header>
